{% extends 'base.html' %}
{% block content %}
    {% if news %}
        {% for post in news %}
            <p><a href="{{ post.get_absolute_url }}">{{ post.category }}</a></p>
            <h1><a href="{% url 'post_detail' category=post.category.slug slug=post.slug %}">{{ post.title }}</a></h1>
            {% if post.image %}
                <img src="{{ post.image.url }}" class="img-post-list">
            {% endif %}
            <p>{{ post.short_text }}</p>
            <br>
        {% endfor %}
    {% else %}
        <h2>Нет статей</h2>
    {% endif %}
{% endblock content %}
