<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Part2</title>
</head>
<body>
    <a href="1lesson.html">1_lesson</a>
    <hr>
    <a href="https://google.ru" target="_blank">Google</a><br>
    <a href="https://yandex.ru" target="_blank">Yandex</a><br>

    <form method="post">
        Name<br>
        <input type="text" name="name"><br>
        SurName<br>
        <input type="text" name="surname"><br>
        Password<br>
        <input type="password" name="password"><br>
        <hr>
        <p>Gender:</p>
        <input type="radio" name="gender">Male <br>
        <input type="radio" name="gender">Female <br>
        <p>Dev Languages</p>
        <input type="checkbox" name="checkbox"> Python <br>
        <input type="checkbox" name="checkbox"> Java Script <br>
        <input type="checkbox" name="checkbox"> Swift <br>
        <input type="checkbox" name="checkbox"> C++ <br>
        <input type="button" value="Button">
        <input type="submit" value="Button_submit">
        <input type="reset" value="Button_reset">
    </form>
</body>
</html>