<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First_lesson</title>
    <style>
        ul{
        color: magenta;
        }
        ol{
            color: blue;
        }
    </style>
</head>
<body>
Просто текст<br>
<a href="1lesson_part2.html">1_lesson_part2</a><br>
<strong>Просто текст - tag strong</strong> <br>
<em>Просто текст - tag em</em><br>
<u>Просто текст - tag U</u><br>
<s>Просто текст - tag S</s><br>
<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
<p>Абзац Абзац Абзац Абзац</p>
<p>La la la la la</p>
<ul>
    <li>Тег LI</li>
    <li>Тег LI</li>
    <li>Тег LI</li>
    <li>Тег LI</li>
    <li>Тег LI</li>
</ul>
<ol start="7">
    <li>Тег LI</li>
    <li>Тег LI</li>
    <li>Тег LI</li>
    <li>Тег LI</li>
    <li>Тег LI</li>
</ol>
<p>150 m <sup>2</sup></p>
<p>H<sub>2</sub>O</p>
</body>
</html>