<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link type="text/css" href="style.css" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="header">
        hi
    </div>
    <div class="content">
        <div class="main-article">
            <div class="article">
                <div class="news">
                    <div class="news-block-img">
                        <img class="news-img" src="img.jpg">
                    </div>
                    <div class="news-block-text">
                        <div class="news-category">
                            <a class="news-a" href="#">новости</a>
                        </div>
                        <div class="news-text">
                            Медсестру областной детской клинической больницы (ОДКБ) № 1 в Екатеринбурге
                            Ирину Остафьеву вынудили уволиться из-за того, что она организовала
                            благотворительный сбор одежды и подгузников для новорожденных.
                        </div>
                        <div class="news-date">
                            21.04.19
                        </div>
                    </div>
                </div>
                <div class="news">
                    <div class="news-block-img">
                        <img class="news-img" src="img.jpg">
                    </div>
                    <div class="news-block-text">
                        <div class="news-category">
                            <a class="news-a" href="#">новости</a>
                        </div>
                        <div class="news-text">
                            Медсестру областной детской клинической больницы (ОДКБ) № 1 в Екатеринбурге
                            Ирину Остафьеву вынудили уволиться из-за того, что она организовала
                            благотворительный сбор одежды и подгузников для новорожденных.
                        </div>
                        <div class="news-date">
                            21.04.19
                        </div>
                    </div>
                </div>
                <div class="news">
                    <div class="news-block-img">
                        <img class="news-img" src="img.jpg">
                    </div>
                    <div class="news-block-text">
                        <div class="news-category">
                            <a class="news-a" href="#">новости</a>
                        </div>
                        <div class="news-text">
                            Медсестру областной детской клинической больницы (ОДКБ) № 1 в Екатеринбурге
                            Ирину Остафьеву вынудили уволиться из-за того, что она организовала
                            благотворительный сбор одежды и подгузников для новорожденных.
                        </div>
                        <div class="news-date">
                            21.04.19
                        </div>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="news">
                    <div class="news-block-img">
                        <img class="news-img" src="img.jpg">
                    </div>
                    <div class="news-block-text">
                        <div class="news-category">
                            <a class="news-a" href="#">новости</a>
                        </div>
                        <div class="news-text">
                            Медсестру областной детской клинической больницы (ОДКБ) № 1 в Екатеринбурге
                            Ирину Остафьеву вынудили уволиться из-за того, что она организовала
                            благотворительный сбор одежды и подгузников для новорожденных.
                        </div>
                        <div class="news-date">
                            21.04.19
                        </div>
                    </div>
                </div>
                <div class="news">
                    <div class="news-block-img">
                        <img class="news-img" src="img.jpg">
                    </div>
                    <div class="news-block-text">
                        <div class="news-category">
                            <a class="news-a" href="#">новости</a>
                        </div>
                        <div class="news-text">
                            Медсестру областной детской клинической больницы (ОДКБ) № 1 в Екатеринбурге
                            Ирину Остафьеву вынудили уволиться из-за того, что она организовала
                            благотворительный сбор одежды и подгузников для новорожденных.
                        </div>
                        <div class="news-date">
                            21.04.19
                        </div>
                    </div>
                </div>
                <div class="news">
                    <div class="news-block-img">
                        <img class="news-img" src="img.jpg">
                    </div>
                    <div class="news-block-text">
                        <div class="news-category">
                            <a class="news-a" href="#">новости</a>
                        </div>
                        <div class="news-text">
                            Медсестру областной детской клинической больницы (ОДКБ) № 1 в Екатеринбурге
                            Ирину Остафьеву вынудили уволиться из-за того, что она организовала
                            благотворительный сбор одежды и подгузников для новорожденных.
                        </div>
                        <div class="news-date">
                            21.04.19
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#" class="right-menu">Python</a>
                </li>
                <li>
                    <a href="#" class="right-menu">Django</a>
                </li>
                <li>
                    <a href="#" class="right-menu">JS</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <span class="yaer">@2019</span>
    </div>
</div>
</body>
</html>