<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS_Lesson</title>
    <link rel="stylesheet" href="lesson_css.css">
</head>
<body>
<h1>Hello world</h1>
<p>First css style First css style First css style First css style First css style First css style</p>
<ul>
    <li>Tag LI</li>
    <li>Tag LI</li>
    <li>TAG LI</li>
    <li>Tag LI</li>
    <a href="1lesson.html"> 1lesson </a><br>
    <a href="1lesson.html"> 1lesson </a><br>
</ul>
<h2>Корзина товаров</h2>
<ul>
    <li class="sale">Tag LI_2</li>
    <li>Tag LI_2</li>
    <li class="sale">TAG LI_2</li>
    <li>Tag LI_2</li>
    <li class="sale">Tag LI_2</li>
</ul>
<img src="енот.jpg" class="racoon">
</body>
</html>