<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rado_Land</title>
</head>
<body>
<img src="енот.jpg" width="200">
<br>
<strong>I can make sites</strong><br>
<a href="https://yandex.ru">YANDEX </a> <br>
<a href="https://google.ru">Google </a> <br>
просто текст<hr> просто текст просто  просто текст просто <br> текст просто текст
<h1>h1_size</h1>
<h2>h2_size</h2>
<h3>h3_size</h3>
<h4>h4_size</h4>
<h5>h5_size</h5>
<h6>h6_size</h6>
<h7>h7_size</h7>
<br>
<hr>
    &copy; Rado
</body>
</html>